<!doctype html>
<html>
    <head>
        <title>Delete List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are You Sure?</h1>
                <form method="post">
                    {% csrf_token %}
                      <button class="button">Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>