<!doctype html>
<html>
    <head>
        <title>Details of List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ tododetails.name }}</h1>
                <p><a href="{% url 'todo_list_update' tododetails.pk %}">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' tododetails.pk %}">Delete</a>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Due Date</th>
                    </thead>
                    <tbody>
                        {% for todo in tododetails.items.all %}
                        <tr>
                            <td> <a href="{% url 'todo_item_update' tododetails.pk %}">{{ todo.task }}</a></td>
                            <td>{{ todo.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>