<!doctype html>
<html>
    <head>
        <title>List of Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo.pk %}">{{ todo.name }}</a></td>
                            <td>{{ todo.items.count }}</td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>  
    </body>
</html>